extends /layouts/card.pug

block header
  h1= user.fullName
block cardContent
  +formFor({ url: urlFor('profilePassword#update'), method: 'put' })
    +input('oldPassword', 'Old password', { autofocus: true, type: 'password', required: true })
    +input('newPassword', 'New password', { type: 'password', required: true })
    +input('confirmedNewPassword', 'Confirm new password', { type: 'password', required: true })
    button.btn.btn-primary.btn-lg.m-2(type='submit') Save
    a.btn.btn-outline-danger.btn-lg.m-2(href=urlFor('users#show', userId)) Cancel