extends /layouts/card.pug

block header
  h1= user.fullName
block cardContent
  +formFor({ url: urlFor('profile#update'), method: 'put' })
    +input('email', 'Email', { autofocus: true })
    +input('firstName', 'First Name')
    +input('lastName', 'Last Name')
    button.btn.btn-outline-primary.btn-lg.m-2(type='submit') Save
    a.btn.btn-outline-danger.btn-lg.m-2(href=urlFor('users#show', userId)) Cancel